.border {
    border-color: rgba(214, 211, 211, 0.5);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 300px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home {
    cursor: pointer;
    background-color: white;
    color: black;
    border-width: 0px;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    opacity: 0.8;
}

.home:hover {
    background-color: rgba(255, 255, 255, 0.788);
}

.home:active {
    opacity: 0.2;
}

.number {
    background-color: rgb(63, 137, 223);
    border-style: solid;
    border-radius: 100px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 10px 3px;
    padding: 4px 10px;
}