.header-promo-message {
    color: #233c49b6;
    display: block;
    font-family: 'lato';
    font-size: 12.8px;
    letter-spacing: 0.98px;
    margin: 0px;
}

.limited {
    color: #233c49c0;
    font-size: 12.8px;
    font-weight: 550;
    font-family: 'lato';
}

.sign-up-link {
    color: #ce682da2;
    font-family: 'Lota';
    text-decoration-line: none;
}

.set {
    background-color: rgb(236, 236, 236);
    padding: 10px 5px;
    display: flex;
    justify-content: center;
}